APP_NAME=ShopNoLtd
APP_ENV=local
APP_KEY=
APP_URL=http://localhost
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=shopnoltd
DB_USERNAME=postgres
DB_PASSWORD=secret

SUPPORTED_LOCALES=en,bn,ar,hi
SUPPORTED_CURRENCIES=USD,BDT,INR,AED
ADMIN_PATH=/admin
